body {
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    font-size: 50px;
    
}

h2 {
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 900;
    font-size: 52px;
    margin-top: 60px;
    margin-bottom: 0px;
}

h4 {
    margin: 0;
}

#inputBar {
    background-color: gainsboro;
    padding: 2px;

}

#searchButton {
    color: firebrick;
    background-color: ghostwhite;
}

div {
    zoom: 3;
    margin: 0;
}